<!-- Inicio del cuerpo de tarjeta -->
<section class="content" style="max-width: 600px; margin: auto;">
    <form action="#">
        <div class="card">
        <div class="card-header">Agregar ciudad</div>
        <div class="card-body">
            <input type="hidden" name="idtxtciudad" value="#">
            <input type="text" name="txtciudad" class="form-control" value="#" required>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="submit" class="btn btn-primary">Cancelar</button>
        </div>
        </div>
    </form>
</section>