{% extends "base.html"%}
{% block contenido_principal %}
<!-- contenido de cabezera (cabezera de pagina) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar Ciudad</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{url_for('inicio.index')}}">Inicio</a></li>
                    <li class="breadcrumb-item active">Editar ciudad</li>
                </ol>
            </div>
        </div>
    </div>
 </section>
 <!-- Fin cabecera -->
 <!-- Inicio del cuerpo de tarjeta -->
<section class="content" style="max-width: 600px; margin: auto;">
    <form action="#">
        <div class="card">
        <div class="card-header">Editar ciudad</div>
        <div class="card-body">
            <input type="hidden" name="idtxtciudad" value="#">
            <input type="text" name="txtciudad" class="form-control" value="#" required>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
        </div>
    </form>
</section>
{% endblock %}